* {
  margin: 0px;
  padding: 0px;
  box-sizing:border-box ;
}

body{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(187, 254, 187);
  height: 100vh;
}

header, footer{
  background-color: green;
  color: rgb(187, 254, 187);
  padding: 15px;
  gap: 10px;
    
}

main{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box{
  display: flex;
  width: 200px;
  height: 200px;
  background-color: rgb(59, 118, 0);
  color: rgb(187, 254, 187);
  justify-content: center;
  align-items: center;
  font-weight: bold;
}