header {
    background-color: hwb(33 0% 68%);
    color: rgb(238, 222, 187);
    text-align: center;
    padding: 20px;
}

main {
    background-color: rgb(48, 28, 3);
    color: rgb(255, 230, 201);
    text-align: center;
    padding: 20px;
}

footer {
    background-color: black;
    color: rgb(101, 5, 255);
    text-align: center;
    padding: 20px;
}