*{
    margin: 0;
    padding: 0;
}

body {
    font-family:Georgia, sans-serif;
    background-color: rgb(223, 173, 247);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
header {
    background-color: rgb(198, 92, 247);
    color: white;
    padding: 20px;
    font-size: 35px;
    text-align: center;
}

.container{
    background-color: rgb(223, 173, 247);
    padding: 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.colum{
    flex: 1;
    text-align: center;
    background-color: rgb(198, 92, 247);
    box-shadow:0 4px 8px black;
    border-radius: 10px;

}

.imagem{
    border-radius: 10px;
}

footer{
    background-color: rgb(198, 92, 247);
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

button{
    @keyframes{
        left(-100)
    }

    background-color: rgb(223, 173, 247);
   color: white;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

button:hover{
    background-color: white;
}