*{
  margin: 0;
  padding: 0;
}

body{
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(185, 224, 255);
}

.todos {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto;
    height: 100%;
    gap: 8px;
    margin: 5px;
  }
  
  .header {
    background: rgb(197, 196, 255);
    padding: 25px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(18, 15, 179);

  }
  
  .nav {
    background:  rgb(197, 196, 255);
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color:  rgb(18, 15, 179);
    height: 80vh;
  }
  
  div {
    grid-row: 1 / span 2;
    display: grid;
    gap: 10px;
    color: rgb(0, 0, 0);
  }
  
  .principal{
    background:  rgb(197, 196, 255);
    padding: 10px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color:  rgb(18, 15, 179);
    height: 80vh;
    
  }

.Sidebar{
    background-color:  rgb(197, 196, 255);
    padding: 20px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color:  rgb(18, 15, 179);
    gap: 10px;
    grid-row: 1;
}

.Advertising{
    grid-column: 3;
    background-color:  rgb(197, 196, 255);
    padding: 20px;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(18, 15, 179);
    gap: 10px;
    grid-row: 2;
}

.footer {
    grid-column: 1 / -1;
    background:rgb(197, 196, 255);
    padding: 25px;
    color: rgb(0, 0, 0);;
    border-radius: 15px;
    border-width: 4px;
    border-style: solid;
    border-color:  rgb(18, 15, 179);
  }
 

