body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(181, 170, 255);
    color: rgb(77, 0, 128);
}

button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15;
    border: none;
    background-color: rgb(77, 0, 128);
    color: white;
}

button:hover{
    background-color: rgb(181, 170, 255);
    color: black;
}