body{
    text-align: center;
    background-color: rgb(255, 226, 231);
    color: rgb(255, 108, 132);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

.container{
    padding: 10px;
}

button{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15;
    border: none;
    background-color: rgb(255, 108, 132);
    color: white;
}

button:hover{
    background-color: white;
    color: rgb(255, 108, 132);
}

#resultado{
    color: rgb(255, 108, 132);
    font-size: 20px;
}

