*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  flex-direction: column;
  background-color: rgb(179, 171, 175);
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
}
  .header {
    text-align: center;
    background:rgb(126, 120, 123);
    padding: 20px;
    color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
  }

main{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  background-color: rgb(179, 171, 175);
  justify-content: center;
  align-items: stretch;
}

.box{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(25% - 20px);
    padding: 10px;
    gap: 10px;
    background:rgb(126, 120, 123);
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
  }
  
